{# Chat input area with text input and action buttons #}
<div class="chat-input">
    <div class="input-container" id="input-container">
        <input type="text" id="message-input" placeholder="Describe the SQL query you want..." />
        <button class="input-button" title="Submit" id="submit-button">
            <img src="/static/icons/submit.svg" alt="Submit">
        </button>
        <button class="input-button" title="Pause" id="pause-button">
            <img src="/static/icons/pause.svg" alt="Pause">
        </button>
        <button id="reset-button" class="action-button" title="Reset session">
            <svg width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="none" stroke="currentColor" stroke-width="2" d="M20,8 C18.5974037,5.04031171 15.536972,3 12,3 C7.02943725,3 3,7.02943725 3,12 C3,16.9705627 7.02943725,21 12,21 L12,21 C16.9705627,21 21,16.9705627 21,12 M21,3 L21,9 L15,9"/>
            </svg>
        </button>
    </div>
</div>
