{# Analytics section in sidebar menu #}
<div class="menu-item" id="conf-container">
    <h2>CONFIDENCE VALUE</h2>
    <p class="menu-value" id="conf-value">0%</p>
</div>
<div class="menu-item" id="exp-container">
    <h2>EXPLANATION</h2>
    <div class="menu-value" id="exp-value"></div>
</div>
<div class="menu-item" id="info-container">
    <h2>MISSING INFORMATION</h2>
    <div class="menu-value" id="info-value"></div>
</div>
<div class="menu-item" id="amb-container">
    <h2>AMBIGUITY</h2>
    <div class="menu-value" id="amb-value"></div>
</div>
