{# Side menu with instructions and analytics #}
<div id="menu-container" class="sidebar-container">    
    <div id="menu-content">
        {% include 'components/menu_instructions.j2' %}
        <div class="horizontal-separator"></div>
        {% include 'components/menu_analytics.j2' %}
    </div>
    
</div>
