{# User profile button and dropdown #}
<button id="user-profile-btn" class="user-profile-btn" title="{{ user_info.name }}"
        aria-haspopup="true" aria-expanded="false" aria-controls="user-profile-dropdown">
    {% if user_info.picture %}
        <img src="{{ user_info.picture }}" alt="{{ user_info.name[0] | upper }}" class="user-profile-img">
    {% else %}
        <div class="user-profile-img user-profile-initial">{{ user_info.name[0] | upper }}</div>
    {% endif %}
</button>
<div id="user-profile-dropdown" class="user-profile-dropdown" role="menu" aria-labelledby="user-profile-btn">
    <div class="user-profile-info">
        <div class="user-profile-name">{{ user_info.name }}</div>
        <div class="user-profile-email">{{ user_info.email }}</div>
    </div>
    <div class="user-profile-actions">
        <button id="api-tokens-btn" class="user-profile-action">API Tokens</button>
        <button id="user-profile-logout" class="user-profile-action" onclick="window.location.href='/logout'" >Logout</button>
    </div>
</div>
