{# Login modal for authentication #}
<div id="google-login-modal" class="google-login-modal">
    <div class="google-login-modal-content">
        <h2>Welcome to QueryWeaver</h2>
        <p>Please login to continue</p>
        <a href="/login" class="google-login-btn">
            <img src="/static/public/icons/google.svg"  alt="Google logo" class="google-login-logo">Sign in with Google
        </a>
        <a href="/login/github" class="github-login-btn" style="margin-top: 0.5em;">
            <img src="/static/public/icons/github.svg" alt="GitHub logo" class="github-login-logo">Sign in with GitHub
        </a>
    </div>
</div>
