[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.124.0"
uvicorn = "~=0.40.0"
litellm = "~=1.80.9"
falkordb = "~=1.2.2"
psycopg2-binary = "~=2.9.11"
pymysql = "~=1.1.0"
authlib = "~=1.6.4"
itsdangerous = "~=2.2.0"
jsonschema = "~=4.26.0"
tqdm = "~=4.67.1"
python-multipart = "~=0.0.10"
jinja2 = "~=3.1.4"
graphiti-core = {ref = "staging", git = "git+https://github.com/FalkorDB/graphiti.git"}
fastmcp = ">=2.13.1"

[dev-packages]
pytest = "~=8.4.2"
pylint = "~=4.0.3"
playwright = "~=1.57.0"
pytest-playwright = "~=0.7.1"
pytest-asyncio = "~=1.2.0"

[requires]
python_version = "3.12"
