/* Animations and Keyframes */

@keyframes shadow-fade {
  0% {
    box-shadow: 0 0 8px 1px var(--falkor-primary)
  }

  50% {
    box-shadow: 0 0 12px 2px var(--falkor-primary)
  }

  100% {
    box-shadow: 0 0 8px 1px var(--falkor-primary)
  }
}

@keyframes typing {
  0% {
    content: ".";
  }

  50% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}
