/* Main Layout Components */

#container {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 40px;
}

.logo {
  height: 6rem;
  width: auto;
}

.chat-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: margin-left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.vertical-separator {
  width: 2px;
  height: 80%;
  background-color: var(--text-tertiary);
}

.horizontal-separator {
  width: 80%;
  height: 2px;
  background-color: var(--text-tertiary);
}
