{% extends "base.j2" %}

{% block title %}QueryWeaver Chat Interface{% endblock %}

{% block toolbar %}
    {% include 'components/toolbar.j2' %}
{% endblock %}

{% block content %}
<div id="container">
    {% include 'components/left_toolbar.j2' %}
    {% include 'components/sidebar_menu.j2' %}
    {% include 'components/sidebar_schema.j2' %}

    <div id="chat-container" class="chat-container">
        
        {% include 'components/chat_header.j2' %}
        
        <div class="chat-messages" id="chat-messages">
        </div>
        
        {% include 'components/chat_input.j2' %}
    </div>
</div>
{% endblock %}

{% block modals %}
    {% include 'components/login_modal.j2' %}
    {% include 'components/database_modal.j2' %}
    {% include 'components/reset_modal.j2' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'components/scripts.j2' %}
{% endblock %}
