name: Spellcheck
permissions:
  contents: read
on:
  push:
    branches: [main, staging]
  pull_request:
    branches: [main, staging]
jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0.51.0
        with:
          config_path: .github/spellcheck-settings.yml
          task_name: Markdown